body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin: 0px;
  padding: 0px;
}

/* Prevent horizontal overflow */
html,
body {
  overflow-x: hidden;
}

/* Ensure bottom image never exceeds viewport */
.bottom-img {
  max-width: 100%;
}

/* Offcanvas overlay fix */
.offcanvas-custom {
  width: 100%; /* instead of 100vw */
}

/* Hover background white */
.hover-invert-bg:hover {
  background-color: #fff !important;
}

/* Hover text dark */
.hover-invert-text:hover {
  color: #000 !important;
}

/* Hover border dark */
.hover-invert-border:hover {
  border-color: #000 !important;
}


/* Default: hidden on small/medium screens */

.hoverbtn:hover{
  background-color: wheat;
  color: black;
}



 


  .carousel{
    height: 520px;
  }



  .hover-black-white {
  background-color: black;
  color: white;
    /* makes it work nicely on links/buttons */
  transition: all 0.3s ease; /* smooth hover effect */
}

.hover-black-white:hover {
  background-color: white;
  color: black;
  border: 1px solid black; /* keeps border visible on hover */
}




@media screen and (max-width: 375px) {
  /* CSS styles for viewports 390 pixels wide or less go here */
}


@media screen and (max-width: 778px) {
  /* CSS styles for viewports 390 pixels wide or less go here */

  .marginvision{
    margin: 0;
  }
.marginservises {
  margin-left: 0rem;
}

.servicetext{
  width: 500px;
}

.msgrid{
  margin-left: 500px;
}
}
