/* Main Section Background */
.why-autono-section {
  position: relative;
  background-image: url("https://static.wixstatic.com/media/c837a6_870aaf57c1d9484a9a6ee57f2465df75~mv2.jpg/v1/fill/w_1351,h_880,al_r,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c837a6_870aaf57c1d9484a9a6ee57f2465df75~mv2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem 0;
}

/* Typography Overrides */
.why-autono-section {
  font-family: "Montserrat", sans-serif;
}

.applayBorder{
  border-left: 5px solid white;
  display: inline-block;
  padding: 60px;
  margin-left: -50px;
  font-size: 2rem;
}

.why-autono-section .vision-label {
  letter-spacing: 2px;
  font-size: 14px;
}

.why-autono-section .main-heading {
  font-size: 24px;
  line-height: 30px;
  width: 300px;
  letter-spacing: 2px;
}

.why-autono-section .description-text {
  font-size: clamp(0.875rem, 1.2 vw, 1rem);
  line-height: 30px;
  color: #e0e0e0;
  width: 320px;
  letter-spacing: 1px;
}

.why-autono-section .autono-card {
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
}

.why-autono-section .btn-custom {
  border: 1px solid white;
  background-color: black;
  color: white;
  min-width: 0;
  transition: all 0.3s ease;

  font-size: clamp(0.8rem, 2.5vw, 1rem) !important;
  padding: clamp(0.3rem, 1vw, 0.5rem) clamp(0.8rem, 2vw, 1.5rem) !important;
}

.why-autono-section .btn-custom:hover {
  background-color: white;
  color: black;
}

.why-autono-padding {
  height: 500px;
}

@media (max-width: 780px) {
  .applayBorder{
  border-left: 5px solid white;
  display: inline-block;
  padding: 60px;
  margin-left: -50px;
  font-size: 2rem;
}
}

/* Mobile breakpoint (≤380px) */
@media (max-width: 380px) {
  .vision-labeWhy {
    font-size: large;
  }


    .applayBorder{
  border-left: 2px solid white;
  display: inline-block;
  padding: 60px;
  margin-left: -20px;
  font-size: 2rem;
}

  .main-headingWhy {
    font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  letter-spacing: normal;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  text-align: start;
  margin: 0;
  padding: 0;
  }

  .description-textWhy {
   font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: normal;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  text-align: start;
  margin: 0;
  padding: 0;
  }
}
